<div class="p-0 m-0">
  <div class="my-4 d-flex gap-2 align-items-center">
    <i class="bi bi-filter positive fs-4 fw-bold"></i>
    <span class="fs-5 fw-bold text-light">Filter</span>
  </div>
  <form [formGroup]="filterForm" class="row d-flex mb-4">
    @if (endDateKey && endDateKey > todayDate) {
      <div class="error-bg text-danger p-2 w-100 rounded-2 mb-3">
        [ERROR] End date cannot be in the future.
      </div>
    }
    @if (startDateKey && endDateKey && startDateKey > endDateKey) {
      <div class="error-bg text-danger p-2 w-100 rounded-2 mb-3">
        [ERROR] Start date cannot be after the end date.
      </div>
    }

    <!-- PERIOD -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div for="dateFilter" class="grey fw-bold small">Period</div>
      <select id="dateFilter" class="h-input w-100 p-2" formControlName="selectedPeriod">
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="week">This Week</option>
        <option value="lastWeek">Last Week</option>
        <option value="month">This Month</option>
        <option value="custom">Custom Range</option>
      </select>
    </div>
    @if (filterForm.controls.selectedPeriod.value === 'custom') {
      <!-- FROM -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="grey fw-bold small">From</div>
        <mat-form-field appearance="outline" class="custom-datepicker rounded-2 h-input">
          <input
            matInput
            class="bg-transparent"
            [matDatepicker]="startPicker"
            [min]="minTradeDate"
            [max]="todayDate"
            formControlName="startDate"
            readonly
            placeholder="mm/dd/yyyy"
          />
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- TO -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="grey fw-bold small">To</div>
        <mat-form-field appearance="outline" class="custom-datepicker rounded-2 h-input">
          <input
            matInput
            [matDatepicker]="endPicker"
            class="bg-transparent"
            [min]="minTradeDate"
            [max]="todayDate"
            formControlName="endDate"
            readonly
            placeholder="mm/dd/yyyy"
          />
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    }

    <!-- APPLY -->
    <div class="col-12 col-sm-6 col-lg-3 mt-3 p-1">
      <button
        type="button"
        class="rounded-2 h-input green-transparent-button px-4 small w-100"
        [disabled]="isApplyDisabled"
        (click)="applyFilter()"
      >
        Apply filter
      </button>
    </div>
  </form>
</div>
