<div class="row dashboard m-4 p-4 page-container">
  <app-filter class="mb-4 p-0"></app-filter>
  <!-- HEADER -->
  <div class="mb-4">
    <div class="d-flex align-items-center gap-3">
      <div class="header-icon"><i class="bi bi-speedometer2 menu-icon"></i></div>
      <div>
        <h1 class="title">Trading dashboard</h1>
        <p class="subtitle mb-0">Monitor your trading performance and activity</p>
      </div>
    </div>
  </div>

  <!-- DASHBOARD -->
  @if (hasTrades) {
    <div class="row col-12 m-0 p-0 mb-4">
      <app-key-performance-indicators
        [stats]="stats"
        class="p-0 div-card"
      ></app-key-performance-indicators>
    </div>
    <div class="row col-12 m-0 p-0 mb-4">
      <app-chart [pnlHistory]="stats()?.pnlHistory ?? []" class="p-0 div-card"></app-chart>
    </div>
  }
  <!-- NO TRADES -->
  @if (!hasTrades) {
    <div class="div-card p-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <div class="empty-dashboard-icon d-flex align-items-center justify-content-center">
          <i class="bi bi-bar-chart-line"></i>
        </div>
        <div class="positive mb-3">&gt; SYSTEM STATUS</div>
        <h2 class="grey fw-bold fs-5">No trades for the selected period</h2>
        <p class="muted small">
          There are no trades recorded for<strong>{{ periodLabelFromCookie }}</strong
          >. Try selecting a different period or date range to view your trading activity.
        </p>
        <div class="d-flex w-100 grey small p-2 justify-content-center align-items-center mb-3">
          <span class="dot mx-2"></span>
          No trading activity found
        </div>
        <div class="row d-flex gap-4 align-items-center justify-content-center">
          <div class="light-grey-bg p-4 grey small col-11 col-md-5 col-lg-2 empty-item">
            <div>
              <i class="bi bi-graph-up positive fw-bold fs-5"></i>
            </div>
            <span>Cumulative P&amp;L</span>
          </div>
          <div class="light-grey-bg p-4 grey small col-11 col-md-5 col-lg-2 empty-item">
            <div>
              <i class="bi bi-speedometer2 positive fw-bold fs-5"></i>
            </div>
            <span>Performance KPIs</span>
          </div>
          <div class="light-grey-bg p-4 grey small col-11 col-md-5 col-lg-2 empty-item">
            <div>
              <i class="bi bi-activity positive fw-bold fs-5"></i>
            </div>
            <span>Trading Activity</span>
          </div>
          <div class="light-grey-bg p-4 grey small col-11 col-md-5 col-lg-2 empty-item">
            <div>
              <i class="bi bi-clock-history positive fw-bold fs-5"></i>
            </div>
            <span>Trade History</span>
          </div>
        </div>
      </div>
    </div>
  }
</div>
