.empty-item {
  height: 100px;
}
/***** empty-dashboar ****/
.empty-dashboard-icon {
  width: 82px;
  height: 82px;
  margin: 0 auto 25px;
  border-radius: 50%;
  color: #00ff8c;
  font-size: 32px;
  background: rgba(0, 255, 140, 0.06);
  border: 1px solid rgba(0, 255, 140, 0.25);
}

/* RESPONSIVE= */
@media (max-width: 768px) {
  .dashboard .header-icon {
    width: 40px;
    height: 40px;
    font-size: 27px;
  }
  .dashboard .apply-btn {
    width: 100%;
  }
}
